h1{
    color:indianred;
    text-align: center;
    background-color:bisque;
    text-decoration-line: line-through;
}
body{
    background-color:beige;
}

h2{
   text-decoration: underline;
    color:lightcoral;
}
h3{
    color:lightsalmon;
}
body{
  font-size: larger;
}

.cv-footer{
    color:darkred;
}