*{
    box-sizing: border-box;
}
:root{
    --primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   --fw-l:300;
   --fs-base:1rem;
   --primary-color:teal;
   --secondary-color:rgb(183, 99, 4);
   --tertiary-color:rgb(5, 57, 71);
--neutral-color:rgb(255, 255, 255);
--spacer:1rem;
--border:16px;
--shadow:0 0 6px rgba(0, 0, 0, 0.3);
--spacer-dbl:calc(var(--spacer)*2);
--headalign:center;

}
body{
    background-color: var(--neutral-color);
    color:var(--primary-color);
    font-family : var(--primary-font);
    display: flex;
    flex-direction: column;

}
h1{
    font-size: 2.5rem;
    text-align: var(--headalign);
    margin: var(--spacer) 0;
}
h2{
    font-size: 1.5rem;
    margin: var(--spacer) 0;
    padding: var(--spacer);

}
p{
    margin-bottom: var(spacer); 
}
header{
    background-color: var(--secondary-color);
    color: var(--neutral-color);
    padding: var(--spacer-dbl);

}
.btn{
   background-color: var(--tertiary-color);
   color: var(--neutral-color);
    padding: var(--spacer); 

}
a{
    text-decoration: none;
    text-shadow: var(--shadow);
}
footer{
    background-color: var(--secondary-color);
    color:var(--neutral-color)
}
.btn:hover{
    background-color: var(--primary-color);
    spacing: var(--spacer);

}
section.cards{
    display:flex;
    gap: var(--spacer);
    margin:var(--spacer-dbl) auto;
    width:80%;


}
.cards article{
    background-color: var(--primary-color);
    border-radius: var(--border);
    box-shadow: var(--shadow);
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--neutral-color);
}
.cards h2{
    color: var(--neutral-color);
    margin-top:0;
    padding:0.25rem;
    font-size:.8rem;
    text-align: center;
    font-style: italic;
}
.cards figcaption{
    font-size: .9rem;
    margin: var(--spacer) 0;
    text-align: center;
}